/* General */
body {
    font: 12pt 'Arial', 'Helvetica';
    background-color: #f7f7f7;
    margin-top: 110px;
    margin-left: 20px;
}
fieldset {
    margin-top: -500px;
    margin-left: 10%;
    padding: 0px 150px;
    border: 2px solid #ddd;
    background-image: url('../img/puzzle0.1.jpg');
    border-radius: 10px;
    display: inline-block;
    height: 650px;
}
.word{
    margin-top: 30px;
    margin-left: 20%;
    padding: 0px 200px;
    border: 2px solid #ddd;
    background-image: url('../img/puzzle0.1.jpg');
    background-repeat: no-repeat;
    background-size: 1200px;
    border-radius: 10px;
    display: inline-block;
    height: 420px;

}
legend {
    font-weight: bold;
    padding: 0px 12px;
    display: block;
    background-color: #e4e4e4;
    border-radius: 6px;
}
ul {
    margin: 0;
    padding: 0;
}
/*button{
    background-color: red;
    padding: 20px 20px;
    margin-top: 20px;
    margin-left: 20px
}*/
.box{
    background-image: url("img/puzzle.jpg");
    padding: 30px 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    margin-left: 350px;

}

/* Puzzle widgets */

.sliding-puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
}
.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
}
.sliding-puzzle .puzzle-empty {
    border: none;
    background-color: #ddd !important;
}
.sliding-puzzle.puzzle-solved td {
    border: none;
}

.word-search-puzzle {
    border: 1px solid #999;
}
.word-search-puzzle td {
    background-color: red;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.word-search-puzzle.puzzle-solved td {
    background-color: #eee;
}
.word-search-puzzle td span {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.word-search-puzzle .puzzle-found {
    background-color: #eee;
}
.word-search-puzzle .puzzle-selected {
    background-color: #f5f5f5;
}
.word-search-puzzle .puzzle-message span {
    background-color: #ffffcc;
    color: red;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 5px #444;
}


/* Application */

#types {
    margin: 0 0 40px 0px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
}
#types li {
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}
#types li a {
    font-size: 22pt;
    color: #999;
}
#types li.selected {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
}
#types li.selected a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#fork {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 149px;
    height: 149px;
    background: url('https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png') no-repeat;
}
#powered {
    position: fixed;
    right: 20px;
    bottom: 15px;
    display: block;
}
#powered img {
    opacity: 0.4;
    width: 200px;
}

#sliding-advanced > div {
    float: left;
    margin: 0 40px 0 0;
    min-width: 100px;
}
#sliding-advanced .sliding-puzzle {
    clear: both;
    margin-top: 30px;
}
#sliding-advanced h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
}
#sliding-advanced .status {
    float: left;
    width: 20%;
    height: 15px;
}
#sliding-advanced .size {
    float: right;
    height: 40px;
    text-align: right;
}
#sliding-advanced .src input {
    width: 5%;
    font-family: "Courier New";
    margin-bottom: 4px;
}

#word-search {

    position: relative;
}
#word-search .word-search-puzzle {
    float: left;
    margin-top: 20px;
}
#word-search .words {
    list-style: none;
    float: left;
    margin: 4px 20px 0 0;
    margin-top: 40px;
}
#word-search .words li {
    font-size: 12px;
    margin-bottom: 4px;
    text-align: center;
}
#word-search .words .found {
    color: #bbb;
    text-decoration: line-through;
    font-weight: normal
}
#word-search .status {
    position: absolute;
   
    left: 0;
    top: 330px;
    text-align: center;
    width: 80px;
    font-weight: bold;
    
}
input[type="submit"]{
    font-size: 25pt;
    margin-top: -420px;
    position: absolute;
    margin-left: 250px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: navy;
    border-radius: 10px;
}
input[name="submit2"]{
    font-size: 25pt;
    margin-top: -220px;
    position: absolute;
    margin-left: 470px;
    color: white;
    width: 150px;
    height: 60px;
    background-color: navy;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background-color: rgb(75,75,75);
}
.font{
    text-shadow:2px 2px 2px black;
    font-family: dodge;
    color: red;
    font-size: 25pt;

}
.shuffle{
    font-size: 25pt;
    margin-top: -320px;
    position: absolute;
    margin-left: 490px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: darkred;
    border-radius: 10px;
}
.solve{
     font-size: 25pt;
    margin-top: -220px;
    position: absolute;
    margin-left: 490px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: rgb(255,128,0);
    border-radius: 10px;
}
.solve2{
    font-size: 15pt;
    margin-top: -300px;
    position: absolute;
    margin-left: 470px;
    color: white;
    width: 150px;
    height: 60px;
    background-color: rgb(255,128,0);
    border-radius: 10px;   
}
.shuffle:hover{
    background-color: rgb(75,75,75);
}
.solve:hover{
    background-color:rgb(75,75,75);
}
.pic{
    width: 150px;
    height: 150px;
    border:3px red  dotted;

}
.bt{

    border-radius: 10px;
    margin-left: 490px;
    margin-top: -120px;
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: green;
    display: inline-block;

}
.ft{
    border-radius: 10px;
    margin-top: -130px;
    margin-left: 470px;
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: green;
    display: inline-block;    
}
a{
    text-decoration: none;
}
.box{
    margin-left:350px;
    margin-top: 100px;
    box-shadow: 0px 2px 4px;
    width: 250px;
    height: 300px;
    background-color: yellow;


}
.status{
    font-size: 10pt;
    color: black;
}
button a{
    color: white;
    font-family: arial;
    font-size: 20pt;
}
.bgp{
   background-color: orange;
    }
div img{
   position: absolute;
    width: 700px;
    height: 700px;
}
.bt2{
    background-color: orange;
    color: white;
    width: 200px;
    height: 100px;
    font-size: 15pt;
     font-family: arial;
     box-shadow: 0 2px 4px;
     border-radius: 20px;
     margin-left: 90px;
}
.bt2:hover{
    background-color: rgb(75,75,75);
}
.bt1{
    margin-left: 90px;
    background-color: navy;
    color: white;
    width: 200px;
    height: 100px;
    font-size: 12pt;
    font-family: arial;
    box-shadow: 0 2px 4px;
    border-radius: 20px;
    font-size: 15pt;
}
.bt1:hover{
    background-color: rgb(75,75,75);
}
.bt3{
    margin-left: 90px;
     font-size: 15pt;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 80px;
    background-color: rgb(0,157,157);
}
.qwe{

    width: 150px;
    height: 190px;
    display: inline-block;
    margin-left: -170px;
    margin-top: -80px;
    

}
.ball{
    margin-top: -50px;
    margin-left: -140px;
    width: 150px;
    height: 140px;
    display: inline-block;

}
.bdd{
    margin-top: -20px;
    margin-left: 230px;
    position: absolute;
    width: 370px;
    height: 300px;
}
.slide{
        margin-top: -150px;
    margin-left: -30px;
    position: absolute;
    width: 370px;
    height: 300px;
}
.kulay{
    background-color: orange;
}
.que{
    margin-top: -80px;
    margin-left: -150px;
    width: 150px;
    height: 190px;
    display: inline-block;
}
.bt3:hover{
    background-color:rgb(75,75,75);
}